<aside>
    <a routerLink="" class="logo">
        <span><</span>
        <span>/</span>
        <span>></span>
    </a>

    <nav>
        <a (click)="redirectToRoute({route: 'dashboard'})" routerLinkActive="active-route">
            <i class="mat-icon">dashboard</i>
            Dashboard
        </a>
        <a (click)="redirectToRoute({route: 'cronjobs'})" routerLinkActive="active-route">
            <i class="mat-icon">schedule</i>
            Cronjobs
        </a>
        <a (click)="redirectToRoute({route: 'charts'})" routerLinkActive="active-route">
            <i class="mat-icon">bar_chart</i>
            Charts
        </a>
    </nav>
</aside>