<aside>
    <a routerLink="" class="logo">
        <span><</span>
        <span>/</span>
        <span>></span>
    </a>

    <nav>
        <a (click)="closeSidebar()" routerLink="/dashboard" routerLinkActive="active-route">
            <i class="mat-icon">dashboard</i>
            Dashboard
        </a>
        <a (click)="closeSidebar()" routerLink="/cronjobs" routerLinkActive="active-route">
            <i class="mat-icon">schedule</i>
            Cronjobs
        </a>
        <a (click)="closeSidebar()" routerLink="/charts" routerLinkActive="active-route">
            <i class="mat-icon">bar_chart</i>
            Charts
        </a>
    </nav>
</aside>