<aside>
    <a routerLink="" class="logo">
        <span><</span>
        <span>/</span>
        <span>></span>
    </a>

    <nav>
        <a (click)="closeSidebar()" routerLink="/dashboard" routerLinkActive="active-route">
            <i class="mat-icon">dashboard</i>
            Dashboard
        </a>
        <a (click)="closeSidebar()" routerLink="/cronjobs" [ngClass]="isRouteActive() ? 'active-route' : ''">
            <i class="mat-icon">schedule</i>
            Cronjobs
        </a>
        <a routerLink="/gallery" routerLinkActive="active-route">
            <i class="mat-icon">photo_library</i>
            Gallerie
        </a>
    </nav>
</aside>