@use '../../../../styles.scss' as *;

.snack {
    border: 1px solid $color-accent;
    background: $color-not-white;
    padding: 0.5rem 1rem;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 450px;

    @media(max-width: 1000px) {
        max-width: 300px;
    }


    i {
        font-size: 1.3rem;
    }

    span {
        font-size: 1.1rem;
        font-weight: 700;
    }
}

.success {
    color: $color-success;
}

.error {
    color: $color-danger;
}