<p-table [value]="cronJobs()" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15]" sortField="errorOnLastExecution" [sortOrder]="-1">
    <ng-template #header>
        <tr>
            <th pSortableColumn="key">
                Key
                <p-sortIcon field="key" />
            </th>
            <th>Interval</th>
            <th pSortableColumn="lastExecution">
                Last execution
                <p-sortIcon field="lastExecution" />
            </th>
            <th pSortableColumn="errorOnLastExecution">
                Error on last execution?
                <p-sortIcon field="errorOnLastExecution" />
            </th>
            <th>Logs</th>
            <th>Execute Job</th>
        </tr>
    </ng-template>
    <ng-template #body let-job>
        <tr>
            <td>{{ job.key | handleKey }}</td>
            <td>{{ job.time | cronExpressionDescription }}</td>
            <td>{{ job.lastExecution | date: 'short':'UTC' }}</td>
            <td>{{ job.errorOnLastExecution |
                boolToText }}</td>
            <td>
                <div class="dFlexCC g-0-5">
                    <p-button pTooltip="Shows the last log" tooltipPosition="top" label="Last Log" severity="info" (click)="showLastLogDialog({key: job.key})" />
                    <p-button pTooltip="Shows all logs from the Cronjob" tooltipPosition="top" label="All Logs" (click)="redirectToDetail({ key: job.key })" />
                </div>
            </td>

            <td>
                <app-execute-job-button [cronJobKey]="job.key"></app-execute-job-button>
            </td>
        </tr>
    </ng-template>

</p-table>