<table>
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Interval</th>
            <th scope="col">Last execution</th>
            <th scope="col">Error on last execution?</th>
            <th scope="col">Logs</th>
            <th scope="col">Execute Job</th>
        </tr>
    </thead>
    <tbody>
        @for (job of cronJobs(); track $index) {
        <tr>
            <td>{{ job.key | handleKey }}</td>
            <td>{{ job.time | cronExpressionDescription }}</td>
            <td>{{ job.lastExecution | date: 'short':'UTC' }}</td>
            <td [ngClass]="job.errorOnLastExecution ? 'color-danger' : 'color-success' ">{{ job.errorOnLastExecution |
                boolToText }}</td>
            <td>
                <div class="dFlexCC g-0-5">
                    <button class="btn-secondary" (click)="showLastLogDialog({key: job.key})">Last
                        Log</button>
                    <button class="btn-primary" (click)="redirectToDetail({ key: job.key })">All Logs</button>
                </div>
            </td>
            <td><app-execute-job-button [cronJobKey]="job.key"></app-execute-job-button></td>
        </tr>
        }
    </tbody>
</table>