@use '../../../../styles.scss' as *;

table {
    display: table;
    border-spacing: 2px;
    border-collapse: collapse;
    text-indent: 0;
    text-align: left;

    caption {
        margin-bottom: 0.5rem;
    }

    thead {
        background: $color-light;
    }

    tbody {
        background: lighten($color: $color-light, $amount: 5%);
    }

    tr {
        transition: ease-in-out 125ms;

        th,
        td {
            border: 1px solid $color-accent;
            padding: 0.5rem 0.5rem;
        }

        td .btn-danger {
            width: 50px;
            height: 25px;
        }

        &:hover {
            background: $color-light;
            transition: ease-in-out 125ms;
        }
    }


}