@use '../../../../styles.scss' as *;

.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "sidebar header" "sidebar content";

    .header {
        grid-row: 1;
        grid-column: 2;
        grid-area: header;
        padding: $site-padding;
        box-shadow: 0 4px 4px #0000001a;
        height: 80px;
        background: white;

        @media (max-width: 1000px) {
            background: $color-accent;
        }
    }

    .sidebar {
        height: 100%;
        grid-column: 1;
        grid-area: sidebar;
        background-color: $color-accent;
        z-index: 10;

        @media(max-width: 1000px) {
            position: fixed;
            top: 80px;
            left: 0;
            width: 200px;
        }
    }

    .content {
        grid-row: 2;
        grid-column: 2;
        grid-area: content;
        background-color: $color-not-white;
        padding: $site-padding;
    }

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content";
    }
}

.sidebar-hide {
    transform: translateX(-100%);
    transition-duration: 300ms;
}

.sidebar-show {
    transform: translateX(0);
    transition-duration: 300ms;

}

.snack-wrapper {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}