@use '../../../../styles.scss' as *;

.card {
    border: 1px solid $color-accent;
    padding: $site-padding;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    transition: $transition-duration;
    height: 100%;

    &:hover {
        transition: $transition-duration;
        background: $color-light;
    }

    .output {
        span {
            white-space: wrap;
            word-break: break-all;
        }
    }

    .run {
        display: flex;
        justify-content: center;
    }
}