<table>
    <thead>
        <tr>
            <th scope="column">Start time</th>
            <th scope="column">End time</th>
            <th scope="column">Duration</th>
            <th scope="column">Success</th>
            <th scope="column">Output</th>
        </tr>
    </thead>
    <tbody>
        @for (log of cronJobLogs(); track $index) {
        <tr>
            <td>{{log.startTime | date: 'short': 'UTC' }}</td>
            <td>
                @if (log.endTime) {
                {{log.endTime | date: 'short': 'UTC' }}
                } @else {
                N/A
                }
            </td>
            <td>
                @if (log.endTime) {
                    {{ calculateDuration({ startTime: log.startTime, endTime: log.endTime })}}
                } @else {
                N/A
                }
            </td>
            <td>
                @if (log.success !== undefined) {
                <span [ngClass]="!log?.success ? 'color-danger' : 'color-success' ">{{ log.success | boolToText }}</span>
                } @else {
                N/A
                }
            </td>
            <td class="ch-50">
                @if (log.output) {
                {{log.output }}
                } @else {
                N/A
                }
            </td>
        </tr>
        }
    </tbody>
</table>