<p-table [value]="cronJobLogs" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15]" sortField="startTime">
    <ng-template #header>
        <tr>
            <th scope="column" pSortableColumn="startTime">
                Start time
                <p-sortIcon field="startTime" />
            </th>
            <th scope="column" pSortableColumn="endTime">
                End time
                <p-sortIcon field="endTime" />
            </th>
            <th scope="column">Duration</th>
            <th scope="column" pSortableColumn="success">
                Success
                <p-sortIcon field="success" />
            </th>
            <th scope="column">Output</th>
        </tr>
    </ng-template>
    <ng-template #body let-log>
        <tr>
            <td>{{log.startTime | date: 'short': 'UTC' }}</td>
            <td>
                @if (log.endTime) {
                {{log.endTime | date: 'short': 'UTC' }}
                } @else {
                N/A
                }
            </td>
            <td>
                @if (log.endTime) {
                    {{ calculateDuration({ startTime: log.startTime, endTime: log.endTime })}}
                } @else {
                N/A
                }
            </td>
            <td>
                @if (log.success !== undefined) {
                <span [ngClass]="!log?.success ? 'color-danger' : 'color-success' ">{{ log.success | boolToText }}</span>
                } @else {
                N/A
                }
            </td>
            <td class="ch-50">
                @if (log.output) {
                {{log.output }}
                } @else {
                N/A
                }
            </td>
        </tr>
    </ng-template>
</p-table>