<section class="dFlexColumnStart g-1">
    <h2>{{ cronJob?.key | handleKey }} logs</h2>
    <div class="dFlexColumnStart g-0-5">
        <div>
            <span>Interval: </span>
            <span>{{ cronJob?.time | cronExpressionDescription }}</span>
        </div>
    </div>

    <div class="filter">
        <div class="error">
            <span>Show:</span>
            <span>All</span>
            <span>with Error</span>
        </div>
    </div>

    <app-log-table [(cronJobLogs)]="cronJobLogs"></app-log-table>
    <app-log-list [(cronJobLogs)]="cronJobLogs"></app-log-list>
    
</section>