@use '../../../../styles.scss' as *;

section {

    .filter {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 1px solid $color-accent;
        padding: $site-padding;

        .header {
            display: flex;
            justify-content: space-between;

            button {
                font-size: 24px;
                border: unset;
                background: unset;
                cursor: pointer;
                transition-duration: $transition-duration;

                &:hover {
                    transition-duration: $transition-duration;
                    color: $color-accent;
                }
            }
        }

        @media(max-width: 1000px) {
            border-radius: 6px;
        }
    }

    app-log-table {
        display: none;

        @media(min-width: 1000px) {
            display: block;
        }
    }

    app-log-list {
        display: block;

        @media(min-width: 1000px) {
            display: none;
        }
    }
}