<section class="dFlexColumnStart g-1">
    <h2>{{ cronJob?.key | handleKey }} logs</h2>
    <div class="dFlexColumnStart g-0-5">
        <div>
            <span>Interval: </span>
            <span>{{ cronJob?.time | cronExpressionDescription }}</span>
        </div>
    </div>

    <div class="filter">
        <div class="header">
            <h3>Filter</h3>
            <button (click)="resetFilter()"><i class="mat-icon">refresh</i></button>
        </div>
        <app-radio-button [filter]="show" (filterChange)="show = $event"></app-radio-button>
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>

    <app-log-table [cronJobLogs]="filteredLogs()" [sortOrder]="sortOrder" (sortOrderChange)="sortOrder = $event"></app-log-table>
    <app-log-list [cronJobLogs]="filteredLogs()" [sortOrder]="sortOrder" (sortOrderChange)="sortOrder = $event"></app-log-list>

</section>