<section class="dFlexColumnStart g-1">
    <h2>{{ cronJob?.key | handleKey }} logs</h2>
    <div class="dFlexColumnStart g-0-5">
        <div>
            <span>Interval: </span>
            <span>{{ cronJob?.time | cronExpressionDescription }}</span>
        </div>
    </div>

    <div class="filter">
        <app-radio-button [(choice)]="show"></app-radio-button>
    </div>

    <app-log-table [cronJobLogs]="filteredLogs()"></app-log-table>
    <app-log-list [cronJobLogs]="filteredLogs()"></app-log-list>
    
</section>