$color-danger: #ed1e79;
$color-success: #92c83e;
$color-main: #444df2;
$color-accent: #797ef3;
$color-disabled: #686868;
$color-light: #eceefe;
$color-dark: #292929;
$color-not-white: #f6f7f8;

$content-limit: 1920px;
$site-padding: 1rem;

$transition-duration: 125ms;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
    color: $color-dark;
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: $color-dark;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-dark;
}

.btn-primary {
    background: $color-accent;
    border: 1px solid $color-accent;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: $color-light;
    transition-duration: $transition-duration;

    &:hover {
        background: unset;
        color: $color-dark;
        border: 1px solid $color-accent;
        transition-duration: $transition-duration;
    }
}

.btn-danger {
    background: unset;
    color: $color-danger;
    font-weight: 500;
    font-size: 1.1rem;
    border: unset;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    transition-duration: $transition-duration;

    &:hover {
        transition-duration: $transition-duration;
        font-weight: 700;
    }
}

.btn-secondary {
    background: unset;
    color: $color-dark;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    border: 1px solid $color-accent;
    transition-duration: $transition-duration;

    &:hover {
        transition-duration: $transition-duration;
        background: $color-accent;
        border-color: unset;
        color: $color-light;
    }
}

.dFlexCC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dFlexJCStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dFlexColumnStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.g-0-5 {
    gap: 0.5rem;
}

.g-1 {
    gap: 1rem;
}

.mb-0-25 {
    margin-bottom: 0.25rem;
}

.color-success {
    color: $color-success
}

.color-danger {
    color: $color-danger;
}

.ch-50 {
    max-width: 50ch;
}

table {
    display: table;
    border-spacing: 2px;
    border-collapse: collapse;
    text-indent: 0;
    text-align: left;

    caption {
        margin-bottom: 0.5rem;
        text-align: left;
    }

    thead {
        background: $color-light;
    }

    tbody {
        background: lighten($color: $color-light, $amount: 5%);
    }

    tr {
        transition: ease-in-out 125ms;

        th,
        td {
            border: 1px solid $color-accent;
            padding: 0.5rem 0.5rem;
            align-content: flex-start;
        }

        td .btn-danger {
            width: 50px;
            height: 25px;
        }

        &:hover {
            background: $color-light;
            transition: ease-in-out 125ms;
        }
    }
}

.mat-icon {
    font-family: 'mat-icon' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-not-white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 3;
    border-radius: 6px;
}

.dialog-bg {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.mat-mdc-text-field-wrapper {
    background: $color-light !important;
}
