<section>
    <p-floatlabel variant="on">
        <input pInputText id="searchTerm" [(ngModel)]="searchTerm" autocomplete="off" />
        <label for="searchTerm">Search Cronjob</label>
    </p-floatlabel>

    @if (searchTerm.length > 0 && filteredJobs().length === 0) {
    <span>No Jobs found</span>
    } @else {
    <app-cronjob-table [cronJobs]="filteredJobs()" [(cronJobKey)]="selectedJobKey"></app-cronjob-table>
    <app-cronjob-list [cronJobs]="filteredJobs()" [(cronJobKey)]="selectedJobKey"></app-cronjob-list>
    }

</section>

@if (uiService.isLastLogDialogPresented) {
<div @fadeIn class="dialog">
    <app-last-log-dialog [(cronJobKey)]="selectedJobKey"></app-last-log-dialog>
</div>
<div (click)="hideLastLogDialog()" class="dialog-bg"></div>
}